<h2 class="text-center">Welcome to dashboard {{useremail}}</h2>
<!-- <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
   
    
  </mat-form-field> -->
  <div class="container">
    <div class="row">
      <div class="card col-lg-9 box">
        <form [formGroup]="welcomeForm">
          <div class="row">
            <div class="col-md-4 div-pad">
            
             <select class="form-control" id = "statename" (change)="loadDistrict(welcomeForm.value.statename)" formControlName="statename">
               <option value="" selected disabled>Select a State</option>
               <option *ngFor="let state of statesApiData" value="{{state.state_id}}">{{state.state_name}}</option>

             </select>
              <!-- <p> Selected State: {{welcomeForm.value.statename}} </p> -->
            </div>
            <div class="col-lg-4 div-pad">
              <select class="form-control" id ="districtname" formControlName="districtname">
                <option value= "" selected disabled>Select District Name</option>
                <option *ngFor="let district of districtsApiData" value="{{district.district_id}}" >{{district.district_name}}</option>
              </select>
            </div>
            <div class="col-lg-4 div-pad">
              <button type="submit" class="btn btn-primary btn-block" style="float: right;">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>